*{
margin: 0; 
padding: 0;
}

/* Fuentes del sitio */
@font-face {
    font-family: 'berlin';
    src: url(../fonts/berlin.ttf);}
@font-face {
    font-family: 'myriad';
    src: url(../fonts/myriad.ttf);}
@font-face {
    font-family: 'myriadBold';
    src: url(../fonts/myriadBold.ttf);}
@font-face {
    font-family: 'candara';
    src: url(../fonts/candara.ttf);}


/* Navbar */
nav {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    word-spacing: 15px;
}

nav ul li {
    padding: 10px;
} 

.navbar-toggler-icon {
    background-color: rgb(255, 255, 255, 0.8);
}

.nav-link {
    font-family: 'berlin', Verdana, Tahoma, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-link-c {
    font-family: 'berlin', Verdana, Tahoma, sans-serif;
    font-size: 25px;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
}


.active {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.navI {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.navP {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.navA {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.navG {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}


/* Fondo de página */ 
.body {
    background-color: rgb(16, 18, 58);
}

.bodyIndex {
    background-image: url(../images/back.index.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* Contenido de página */ 
/* Inicio */
.bodyIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, auto);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.logo {
    width: 70%;
}

.introduccion {
    width: 80%;
    padding: 10px;
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.5);
}

.titulo {
    color:rgb(255, 255, 255);
    font-family: 'berlin', Verdana, Tahoma, sans-serif;
    font-size: 45px;
    text-align: center;
}

.contenido {
    color:rgb(255, 255, 255);
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Paseadores */


.paseadores2 {
    color: white;
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;

    display: grid;
    grid-template-columns: 1fr, 1fr;
}

.paseadores3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bold {
    width: 50%;
    text-align: center;
}

.bold strong {
    font-size: 25px;
    font-family: 'berlin', Verdana, Tahoma, sans-serif;
}

.fondop1 img {
    display: none;
}

.paseador1 {
    width: 50%; 
    padding: 5px;
}

.fondop2 {
    display: none;
}

.fondop2 img {
    width: 40%;
    padding: 5px;
}


/* Adiestradores */
.adiestrador2 {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Verdana, Tahoma, sans-serif;

    display: flex;
    flex-direction: column;
}

.estela {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.seccionA {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Galeria */

.galery {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-auto-flow: dense;
  }

  /* .galery img:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  } */

  .galery img {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;

    width: 100%;
  }

.plus {
  grid-column: span 2;
}

/* Contacto */
.mainC {
    display: grid;
    grid-template-columns: 1, 1fr;
    justify-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.fondoC1 {
    display: none;
}

.fondoC2 {
    width: 100%;
    padding-bottom: 15px;
}

.ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    padding: 15px;
}

.mapa {
    width: 100%;
    height: 350px;
    padding: 15px;
}

.contacto {
    background-color: rgb(70, 72, 105);
    width: 100%;
    padding: 10px;
}

.boldC {
    font-size: 20px;
    font-family: 'myriad', Verdana, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.boldC strong {
    font-size: 25px;
    font-family: 'candara', Verdana, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}


h3 {
    font-size: 30px;
    font-family: 'candara', Verdana, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    padding: 5px 30px 5px 5px;
}

.formulario {
    display: grid;
    grid-template-columns: 1, 1fr;
    width: 100%;
}

.formularioC {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.casilla {
    font-size: 20px;
    font-family: 'myriad', Verdana, Tahoma, sans-serif;
    background-color: rgb(28, 36, 77);
    color: white;
    margin: 5px;
    width: 350px;
}

.casilla2 {
    font-size: 25px;
    font-family: 'berlin', Verdana, Tahoma, sans-serif;
    background-color: rgb(16, 21, 56);
    color: white;
}

.mensaje textarea {
    width: 350px;
    height: 100px;
}

.enlaces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.logoRed {
    width: 40%;
}


/* Pie de página */
.pieIndex {
    position: relative;
    bottom: 0; 
    width: 100%;
    margin: 0;
    }

.footerP {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.footerP img {
    width: 100%;
}

.textoPie {
    margin: 0 !important;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-family: 'myriad', Verdana, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255, 0.7);
}

.textoPie strong {
    font-family: 'myriadBold', Verdana, Tahoma, sans-serif;
}







/* Media Queri */
@media (min-width: 768px) 
    {   



    /* Navegador */   
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    } 
    
    nav ul {
        flex-direction: row;
    }

    nav ul li {
    display: inline-block;
    } 

    .menu {
        display: none;
    }


/* Contenido de página */ 
    /* Inicio */
    header {
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .logo {
        width: 50%;
    }
    
    .introduccion {
        width: 90%;
        padding: 10px;
        margin: 20px;
        background-color: rgb(0, 0, 0, 0.5);
    }
    
    .titulo {
        color:white;
        font-family: 'berlin', Verdana, Tahoma, sans-serif;
        text-align: start;
    }
    
    .contenido {
        color:white;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 17px;
        text-align: justify;
    }



    /* Paseadores */
    .seccion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    .paseadores2 {
        color: white;
        font-size: 15px;
        font-family: Verdana, Tahoma, sans-serif;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .paseadores3 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .bold strong {
        font-size: 25px;
        font-family: 'berlin', Verdana, Tahoma, sans-serif;
    }

    .fondop1 img {
        display: flex;

        width: 40%;
        padding: 5px;
    }

    .paseador1 {
        width: 40%; 
        padding: 5px;
    }

    .fondop2 {
        display: flex;
        justify-content: end;
       
    }

    .fondop2 img {
        display: flex;
        

        width: 40%;
        padding: 5px;
    }

    /* Adiestradores */
    .adiestrador2 {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: Verdana, Tahoma, sans-serif;

        display: flex;
        flex-direction: row;
    }



    /* Galeria */
    .galery {
        grid-template-columns: repeat(4, 1fr);
  
        grid-template-areas: 
        "img-1 img-1 img-2 img-3"
        "img-1 img-1 img-6 img-6"
        "img-4 img-5 img-6 img-6"
        "img-7 img-8 img-9 img-10"
        "img-11 img-12 img-13 img-14"
        "img-15 img-15 img-16 img-16"
        "img-15 img-15 img-16 img-16"
        ;
      }
  
      .img-1 {
        grid-area: img-1;
      }
  
      .img-2 {
        grid-area: img-2;
      }
  
      .img-3 {
        grid-area: img-3;
      }
  
      .img-4 {
        grid-area: img-4;
      }
  
      .img-5 {
        grid-area: img-5;
      }
  
      .img-6 {
        grid-area: img-6;
      }
  
      .img-7 {
        grid-area: img-7;
      }
  
      .img-8 {
        grid-area: img-8;
      }
  
      .img-9 {
        grid-area: img-9;
      }
  
      .img-10 {
        grid-area: img-10;
      }
  
      .img-11 {
        grid-area: img-11;
      }
  
      .img-12 {
        grid-area: img-12;
      }
  
      .img-13 {
        grid-area: img-13;
      }
  
      .img-14 {
        grid-area: img-14;
      }
  
      .img-15 {
        grid-area: img-15;
      }
  
      .img-16 {
        grid-area: img-16;
      }



    /* Contacto */
    .mainC {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .fondoC1 {
        display: flex;
        width: 80%;
    }

    .fondoC2 {
        width: 70%;
        padding: 10px;
    }

    .ubicacion {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .mapa {
        width: 400px;
        height: 250px;
    }

    .boldC {
        font-size: 20px;
        font-family: 'myriad', Verdana, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
    }

    .boldC strong {
        font-size: 25px;
        font-family: 'candara', Verdana, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
    }

    .contactoZona2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacto {
        display: flex;
        flex-direction: row;


        background-color: rgb(70, 72, 105);
        width: 90%;
        padding: 10px;
    }

    h3 {
        font-size: 30px;
        font-family: 'candara', Verdana, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
        padding: 5px 30px 5px 5px;
    }

    .formularioZ {
        display: flex;
        flex-direction: column;
    }

    .formulario {
        display: flex;
        flex-direction: row;
    }

    .formularioC {
        display: flex;
        flex-direction: column;
    }

    .casilla {
        font-size: 20px;
        font-family: 'myriad', Verdana, Tahoma, sans-serif;
        background-color: rgb(28, 36, 77);
        color: white;
        margin: 5px;
    }

    .casilla2 {
        font-size: 25px;
        font-family: 'berlin', Verdana, Tahoma, sans-serif;
        background-color: rgb(16, 21, 56);
        color: white;
    }

    .enlaces {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
    }

    .logoRed {
        width: 35%;
    }






     
    /* Pie de página */
    .pieIndex {
        position: absolute;
        bottom: 0; 
        width: 100%;
        }
    
    .footerP {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footerP img {
        width: 100%;
    }
    
    .textoPie {
        margin: 0 !important;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        font-family: 'myriad', Verdana, Tahoma, sans-serif;
        font-size: 25px;
        color: rgb(255, 255, 255, 0.7);
    }
    
    .textoPie strong {
        font-family: 'myriadBold', Verdana, Tahoma, sans-serif;
    }     
      



    }