/* Fuentes del sitio */
    @font-face {
        font-family: 'berlin';
        src: url(../fonts/berlin.ttf);}
    @font-face {
        font-family: 'myriad';
        src: url(../fonts/myriad.ttf);}
    @font-face {
        font-family: 'myriadBold';
        src: url(../fonts/myriadBold.ttf);}
    @font-face {
        font-family: 'candara';
        src: url(../fonts/candara.ttf);}